<h1>TestGuru </h1>
<ul>
  <li>Создание тестов и управлние ими</li>
  <li>Аутентифицкаия</li>
  <li>Базовое разграничение прав доступа</li>
  <li>Выполнение тестов</li>
  <li>Публикация результатов в сети</li>
</ul>

<h3>Version: <%= Rails.configuration.version%> <%= link_to 'Author', about_author_url %> </h3> 
